<!DOCTYPE html>
<html>
  <head>
    <title>Miblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to 'home', root_path %>

      <%= link_to 'iniciar sesión', new_autor_session_path %>
      <%= link_to 'crear cuenta', new_autor_registration_path %>
      <%= link_to 'cerrar sesión', destroy_autor_session_path, method: :delete %>
      <%= link_to 'editar', edit_autor_registration_path %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
